@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

body {
    font: var(--font-m);
}

.app {
    background-color: var(--color-bg);
    color: var(--color-bg-inverted);
    min-height: 100vh;
}

.settings {
    flex-grow: 1;
    text-align: end;
}

.main {
    padding: 0 60px;
}