@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

body {
    font: var(--font-m);
}

.app {
    background-color: var(--color-bg);
    color: var(--color-bg-inverted);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.settings {
    flex-grow: 1;
    text-align: end;
}

.main {
    flex-grow: 1;
    display: flex;
}

.content {
    width: 100%;
    padding: 20px 40px;
}