.button {
    cursor: pointer;
    user-select: none;
    transition-duration: 200ms;
}

.clear {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    color: var(--color-primary);

    &:hover {
        color: var(--color-accent);
    }
}

.primary {
    padding: 5px 10px;
    background-color: var(--color-primary-inverted);
    border: 1px solid var(--color-primary-inverted);
    border-radius: 5px;
    color: var(--color-primary);
    min-width: 100px;
    font-size: 18px;

    &:hover {
        background-color: var(--color-accent);
        border-color: var(--color-accent);
        color: var(--color-primary-inverted);
    }
}