.sidebar {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: var(--sidebar-width);
    padding: 20px;
    transition: min-width 200ms;
}

.collapsed {
    min-width: var(--sidebar-width-collapsed);
}

.switchers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.lang {
    font-size: 12px;
    min-width: 47px;
}