.app.light {
    --color-bg: #F8F8FF;
    --color-primary: #4169E1;
    --color-secondary: #454555;
    --color-accent: #FF6A7A;
    --color-on-primary: #F9F8FF;
}

.app.dark {
    --color-bg: #002727;
    --color-primary: #00C6C3;
    --color-secondary: #EEEDFF;
    --color-accent: #D674C8;
    --color-on-primary: #434463;
}