@import "./reset.scss";
@import "variables/global.scss";
@import "themes/light.scss";
@import "themes/dark.scss";

body {
    font: var(--font-m);
}

.app {
    background-color: var(--color-bg);
    color: var(--color-secondary);
    min-height: 100vh;
}

.nav {
    display: flex;
    gap: 20px;
    background-color: var(--color-primary);
    margin-bottom: 60px;
    padding: 30px 20px;

    a {
        color: var(--color-on-primary);
        font-size: 20px;
        transition: color 200ms;
        text-decoration: none;

        &:hover {
            color: var(--color-accent);
        }
    }
}

.settings {
    flex-grow: 1;
    text-align: end;

    button {
        padding: 5px 10px;
        background-color: var(--color-on-primary);
        border: 1px solid var(--color-on-primary);
        border-radius: 5px;
        color: var(--color-primary);
        min-width: 100px;
        font-size: 18px;
        cursor: pointer;
        user-select: none;
        transition: background-color 200ms, border-color 200ms;

        &:hover {
            background-color: var(--color-accent);
            border-color: var(--color-accent);
            color: var(--color-on-primary);
        }
    }
}

.main {
    padding: 0 20px;
}