.app.dark {
    --color-bg: #005B60;
    --color-bg-inverted: #F1F1E6;

    --color-primary: #00C6C3;
    --color-primary-inverted: #E7FEFD;

    --color-secondary: #00B2DA;
    --color-secondary-inverted: #e3f4f8;

    --color-accent: #D674C8;
    --color-accent-inverted: #fceaf9;
}