.app.light {
    --color-bg: #F8F8FF;
    --color-bg-inverted: #333338;

    --color-primary: #4169E1;
    --color-primary-inverted: #d9e7ff;

    --color-secondary: #3A8885;
    --color-secondary-inverted: #e7fdfd;

    --color-accent: #FF6A7A;
    --color-accent-inverted: #faeaec;
}