* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
}

.app {
    background-color: ghostwhite;
    min-height: 100vh;
}

.nav {
    display: flex;
    gap: 20px;
    background-color: royalblue;
    margin-bottom: 60px;
    padding: 30px 20px;

    a {
        color: white;
        font-size: 20px;
        transition: color 200ms;
        text-decoration: none;

        &:hover {
            color: paleturquoise;
        }
    }
}

.main {
    padding: 0 20px;
}